section.content{
  width:100%;
  min-height:10px;
  float:left;
  margin-top:15px;
  .row{
    @include container(100%);
  }//row
}//section.content

.box{
  background: $light;
  border-radius: 3px;
  border: 1px solid #efefef;
  margin-bottom: 15px;
  
  .box-header{
    padding:10px;
    &.with-border{
      border-bottom:1px solid #efefef;
    }
    .box-title{
      font-size:1em;
      color:#999;
    }
  }//.box-header

  .box-body{
    font:$fontfamilyIran2;
    padding:10px;
    &.no-padding{
      padding:0 !important;
    }//.no-padding
  }//box-body

  .box-footer{
    padding:10px;
    border-top:1px solid #efefef;
    font-size: 1em;
    color:#444;
    a{
      color:#444;
      text-decoration: none;
      &:hover{
        color: #666;
        text-decoration: none;
      }
    }
  }
}//.box

.no-padding{
  padding: 0 !important;
}

.text-center{
  text-align: center;
  margin: 0 auto;
  position: relative;
}