section.content{
  width:100%;
  min-height:10px;
  float:left;
  margin-top:15px;
  .row{
    @include container(100%);
  }//row
}//section.content

.box{
  border-top:4px solid $light;
  background: $light;
  border-radius: 3px;
  //border: 1px solid #efefef;
  margin-bottom: 15px;
  
  .box-header{
    padding: 1px 10px 8px;
    &.with-border{
      border-bottom:1px solid #efefef;
    }//.box-header .with-border
    .box-title{
      font-size:1em;
      color:#999;
    }//.box-title
  }//.box-header

  .box-body{
    font:$fontfamilyIran2;
    padding:10px;
    &.no-padding{
      padding:0 !important;
    }//.no-padding
  }//box-body

  .box-footer{
    padding:10px;
    border-top:1px solid #efefef;
    font-size: 1em;
    color:#444;
    a{
      color:#444;
      text-decoration: none;
      &:hover{
        color: #666;
        text-decoration: none;
      }//a:hover
    }//a
  }//.box-footer
  &.box-danger{
    border-top:4px solid $red;
  }
  &.box-warning{
    border-top:4px solid $yellow;
  }

  &.box-success{
    border-top:4px solid $green;
  }

  &.box-info{
    border-top:4px solid $light-blue;
  }
}//.box

.no-padding{
  padding: 0 !important;
}

.text-center{
  text-align: center;
  margin: 0 auto;
  position: relative;
}