header{
  float:right;
  display: inline-block;
  width:100%;
  background: rgba(0,0,0,0.3);
  height:66px;
  .menu-icon{
    height:100%;
    width:40px;
    float:right;
    color:$light;
    a{
      background:rgba(0,0,0,0.1);
      line-height: 4em;
      padding: 23px 13px;
      height:100%;
      color: $light;
      &:hover{
        background:rgba(0,0,0,0.2);
        color: darken($light,10);
      }//a:hover
    }//a
  }//.menu-icon
  
  #menu-icon-div{
    @include breakpoint(max-width $narrow){
      display: none;
    }
  }

  #colapsed-icon-div{
    @include breakpoint(min-width $narrow){
      display: none;
    }
  }

  .title{
    float:right;
    font: $asideFont;
    font-size: 1.4em;
    padding:15px;
    color:$light;
  }//.title
  .breadcrump{
    float:left;
    ul{
      list-style: none;
      padding-top:25px;
      li{
        font: $navFont;
          color:$light;
          float:left;
          a{
            color:$light;
            text-decoration: none;
            width:100px;
            padding-right: 10px;
            padding-left: 10px;
          }//a
      }
    }
  }//.breadcrump
}//header