header{
  float:right;
  display: inline-block;
  width:85%;
  background: rgba(0,0,0,0.3);
  height:66px;
  padding:10px;
  .title{
    float:right;
    font: $asideFont;
    font-size: 1.4em;
    padding:5px;
    color:$light;
  }//.title
  .breadcrump{
    float:left;
    ul{
      list-style: none;
      padding-top:15px;
      li{
        font: $navFont;
          color:$light;
          float:left;
          a{
            color:$light;
            text-decoration: none;
            width:100px;
            padding-right: 10px;
            padding-left: 10px;
          }//a
      }
    }
  }//.breadcrump
}//header